/* your css code */

.PersonalJandiGroundWrapper{
  overflow-x: auto;
}
.PersonalJandiGround{
  display: flex;
  width:100%;
  min-width:360px;
  min-height:17px;
  margin-top: 10px;
  padding: 3px 3px 1px;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
}
