/* your css code */

.ButtonWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 23px; 
  color:white;
  font-size: 1.05rem;
  font-weight: bold;
  letter-spacing: -1.3px;
  border-radius: 30px;
  cursor: default;
}