/* your css code */
.JandiGroundWrapper{
  position:relative;
  display:flex;
  flex-direction: column;
  height: 85px;
  margin-top: 5px;
  flex-wrap: wrap;
}

:global .Main-JandiGroundWrapper.project :local .JandiGroundWrapper{
  margin-left: 15px;
}