/*메인*/
:global .App-wrap {
  display: flex;
  height: 100vh;
  justify-content: center;
}

:global .mb-view {
  max-width:650px;
  width:100%;
  height:100%;
  background: white;
}

:global .jandiBg{
  background-image: url('/img/jandiBg.jpg');
  background-size: cover;
}
