/*공통*/

html,body{
  font-size: 16px;
}

input,
input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}

/*App layout*/

:global .App-wrap {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:#ECECEC;
  overflow:hidden;
}

:global .mb-view {
  position: relative;
  width:100vw;
  height:100%;
  max-width:400px;
  max-height:850px;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
}

:global .App-contents{
  height: calc(100vh - 55px);
  padding:0 20px;
  overflow-y: auto;
}

:global .flex{
  display:flex;
}
:global .flex.col{
  flex-direction: column;
}
:global .flex.justCen{
  justify-content: center;
}


:global .flex.alignEnd{
  align-items: flex-end;
}

/*잔디Bg*/
:global .jandiBg{
  background-image: url('/img/jandiBg.jpg');
  background-size: cover;
}


/*Text*/
a{
  text-decoration: none;
  color:inherit;
}

h2{
  width:100%;
  text-align:center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.3rem;
  letter-spacing: -1px;
  font-weight: bold;
}
h3 {
  width:100%;
  text-align:center;
  font-size: 1.2rem;
  letter-spacing: -1.8px;
  font-weight: bold;
}
h4{
  font-family: 'Noto Sans KR',
  sans-serif;
  font-size: 1.2rem;
  font-weight:bold;
  letter-spacing: -1.8px;
}

input:read-only{
  color:#B8B8B8;
}


/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #efefef;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb {
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, .2);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)
}