:global .MainCreatePoject{
  margin-top:40px;
}
:global .MainCreatePoject li{
  margin-bottom: 15px;
}
:global .MainCreatePoject li .inputWrap{
  margin-top:8px;
}
:global .MainCreatePoject .flexRow{
  align-items: flex-end;
}

:global .MainCreatePoject .warning_text{
  padding-top: 8px;
}

:global .addedMemberList{
  margin-top:23px;
  color:#B8B8B8;
  max-height:80px;
  overflow-y:auto;
}


:global .btnDelete {
  display:block;
  position: relative;
  top:1px;
  width:15px;
  margin-left: 5px;
}
:global .Main-JandiGroundWrapper{
  margin-top: 10px;
  padding:0 10px 10px 0;
  border: 1px solid #B8B8B8;
  border-radius: 5px;
  overflow: hidden;
}
:global .Main-JandiGround{
  width:100%;
  overflow-x:auto;
  padding:10px 10px 0 10px;
  box-sizing: border-box;
}
:global .Main-projectList li {
  margin-top:23px;
}

:global .Main-projectList li h4{
  color:#B8B8B8;
  font-style: italic;
  letter-spacing: -1px;
}

.btnSubmitCreateProject {
  margin-top:20px;
}